# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = jjkennedy3
	email = jjkennedy3@github.com
#	signingkey = 

[gpg]
	program = /usr/local/bin/gpg

[commit]
	gpgsign = false
[core]
	excludesfile = /Users/tom/.gitignore
	autocrlf = input

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[push]
	default = current
#[pull]
#	rebase = false
